body {
  font-size: 22px;
  line-height: 1.9;
  background-color: papayawhip;
}

header h1 {
  font-size: 2em;
  border: 1 px solid black;
}
h1,
h2 {
  color: aqua;
}

p {
  color: purple;
}
p span {
  color: brown;
}
.grey {
  color: grey;
}

/* rarely use the id selectors */
#grey1 {
  color: blue;
  font-style: italic;
}
